<h1>Recipes#new</h1>
<p>Find me in app/views/recipes/new.html.erb</p>

<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @recipe do |f| %>
  <fieldset>
    <legend>Basic Info</legend>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => "e.g. Alice Water's Banana Bread" %>
    </div>

    <div>
      <%= f.label :author %>
      <%= f.text_field :author, :placeholder => "e.g. Mom, Alice Waters, etc." %>
    </div>

    <div>
      <%= f.label :published_on, "Date Published" %>
      <%= f.text_field :published_on, :type => "date" %>
    </div>

    <div>
      <%= f.label :description, "Short Description" %>
      <%= f.text_area :description, :placeholder => "e.g. The best banana bread EVAR!", :size => "24x3" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Ingredients</legend>
    <div>
      <%= f.label :ingredients_text, "Ingredients" %>
      <%= f.text_area :ingredients_text, :placeholder => "e.g. 3-4 ripe bananas, mashed; 1 egg; 3/4 cup sugar; etc.", :size => "40x15" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Recipe Steps</legend>
    <div>
      <%= f.label :instructions %>
      <%= f.text_area :instructions, :placeholder => "e.g. Preheat the oven to 350 degrees. Mix in the ingredients in a bowl. ... etc.", :size => "40x15" %>
    </div>
  </fieldset>

  <div><%= f.submit "Add Recipe" %></div>

<% end %>
