<h3><%= @recipe.name.nil? ? "Nil!" : @recipe.name %></h3>
<p>Author: <%= @recipe.author.nil? ? "Nil!" : @recipe.author %></p>
<p>Published On: <%= @recipe.published_on.nil? ? "Nil!" : @recipe.published_on %></p>
<p>Short Description: <%= @recipe.description.nil? ? "Nil!" : simple_format(@recipe.description) %></p>

<div class="ingredients">
  <% @recipe.ingredients.each do |ingredient| %>
    <%= ingredient.text %><br>
  <% end %>
</div>

<p>Instructions: <%= @recipe.instructions.nil? ? "Nil!" : simple_format(@recipe.instructions) %></p>

<div>
  <%= link_to 'Delete this recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>