<h3><%= @recipe.name.nil? ? "Nil!" : @recipe.name %></h3>
<p>Author: <%= @recipe.author.nil? ? "Nil!" : @recipe.author %></p>
<p>Published On: <%= @recipe.published_on.nil? ? "Nil!" : @recipe.published_on %></p>
<p>Short Description: <%= @recipe.description.nil? ? "Nil!" : simple_format(@recipe.description) %></p>

<div class="ingredients">
  <% @recipe.ingredients.each do |ingredient| %>
    <%= ingredient.text %><br>
  <% end %>
</div>

<p>Instructions: <%= @recipe.instructions.nil? ? "Nil!" : simple_format(@recipe.instructions) %></p>

<p>Recipe Document: <%= @recipe.document.nil? ? "Nil!" : link_to(@recipe.document.url, @recipe.document.url) %>
</p>

<p>OCR Raw Text: <%= @recipe.ocr_raw_text.nil? ? "Nil!" : simple_format(@recipe.ocr_raw_text) %></p>
<p>OCR Processed: <%= @recipe.ocr_processed ? "Processed!" : "Not Processed" %></p>
<p>Source: <%= @recipe.source.nil? ? "Nil!" : simple_format(@recipe.source) %></p>

<div>
  <%= link_to 'Delete this recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>