<div class="recipe-basics">

  <h3><%= @recipe.name.blank? ? "Unnamed Recipe" : @recipe.name %></h3>
  <% unless @recipe.author.blank? %>
    <p>by <%= @recipe.author %></p>
  <% end %>

  <!-- <p>Published On: <%= @recipe.published_on.blank? ? "blank!" : @recipe.published_on %></p> -->

  <% unless @recipe.description.blank? %>
    <p><%= simple_format(@recipe.description) %></p>
  <% end %>

  <% unless @recipe.document.blank? %>
    <%= link_to @recipe.document.url do %>
      <img src="<%= @recipe.document.url %>">
    <% end %>
    <!-- <p><%= link_to "View Original", @recipe.document.url %></p> -->
  <% end %>

</div>

<div class="ingredients-instructions">

  <% unless @recipe.ingredients.empty? %>
    <div class="ingredients">
      <% @recipe.ingredients.each do |ingredient| %>
        <%= ingredient.text %><br>
      <% end %>
    </div>
  <% end %>

  <% unless @recipe.instructions.blank? %>
    <p><%= simple_format(@recipe.instructions) %></p>
  <% end %>

  <% unless @recipe.ocr_raw_text.blank? %>
    <p><%= simple_format(@recipe.ocr_raw_text) %></p>
  <% end %>

</div>

<br style="clear: both;">

<div style="margin-top: 20px;">
  <p class="light">
    <% if @recipe.source.blank? %>
      Created <%= time_ago_in_words(@recipe.created_at) + " ago" %>
    <% else %>
      <%= @recipe.source + " " + time_ago_in_words(@recipe.created_at) + " ago" %>
    <% end %>
    |
    <%= link_to 'Delete this recipe', @recipe, method: :delete, data: { confirm: 'Are you sure? There is no going back!' } %>
  </p>
</div>