<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>

<h3>Recipe</h3>
<p>Name: <%= @recipe.name.nil? ? "Nil!" : @recipe.name %></p>
<p>Author: <%= @recipe.author.nil? ? "Nil!" : @recipe.author %></p>
<p>Published On: <%= @recipe.published_on.nil? ? "Nil!" : @recipe.published_on %></p>
<p>Description: <%= @recipe.description.nil? ? "Nil!" : @recipe.description %></p>
<p>Instructions: <%= @recipe.instructions.nil? ? "Nil!" : @recipe.instructions %></p>